<div class="container">
    <div class="alert alert-danger" *ngIf="!bool">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Vérfier les paramétres sasies !!!</strong>
    </div>


    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin: auto; padding: 10x; font-size: xx-large; 
        background-color: rgb(221, 221, 217);"><br>
    <form [formGroup]="loginFormGroup" (submit)="seConnecter()">
        <img [src]="img" class="img-responsive" alt="Image" style="margin: auto;" />
        <hr>

        <input type="email" name="" id="login" class="form-control" formControlName="loginCtrl" required="required" title=""
            placeholder="Email ?"
            [ngClass]="{'is-invalid': loginCtrl.invalid && loginCtrl.touched, 
            'is-valid': loginCtrl.valid, '': loginCtrl.untouched}"
            ><br>
            <div *ngIf="(loginCtrl.invalid && loginCtrl.touched)">
                <small class="text-danger" *ngIf="loginCtrl.errors?.required">Ce champ ne peut être vide</small>    
                <small class="text-danger" *ngIf="loginCtrl.errors?.email">Email saisie invalide</small>    
            </div>
        <input type="password" name="" id="mdp" class="form-control" formControlName="mdpCtrl" required="required" title=""
            placeholder="Password ?"><br>
        <button type="submit" [disabled]="loginFormGroup.invalid" class="btn btn-danger" style="width: 100%;">Se
            Connecter</button><br>
    </form>    

    </div>
    <!-- <h2 [hidden]="login.length ==0 || mdp.length ==0">
        Le login saisie est {{login}} et le mot de passe saisie est {{mdp}}
    </h2> -->
    <ng-container *ngIf="login.length ==0 || mdp.length ==0; else elseTemplate">
        <strong>Login ou le mot de passe ne peuvent être vides !!!</strong>
    </ng-container>
    <ng-template #elseTemplate>
        Le login saisie est {{login}} et le mot de passe saisie est {{mdp}}
    </ng-template>
    

</div>